* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: circle;
}

/* header */

body {
  max-width: 1080px;
  background: #2c90e8;
}

.container {
  max-width: 1080px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 3 1 300px;
  justify-content: center;
}

.info {
  max-width: 1080px;
  margin: 0px auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 15px;
  color: #2c90e8;
  flex: 3 1 300px;
  flex-direction: column;
  background-color: white;
  border-left: 3px solid #f2d55e;
  border-right: 3px solid #f2d55e;
  border-top: 3px solid #f2d55e;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 3px 8px;
}

.info img {
  max-width: 100%;
  border: 2px solid #f2d55e;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 3px 8px;
}

.info p,
h2 {
  padding: 15px;
}

.ingredients {
  max-width: 1080px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 15px;
  color: #2c90e8;
  flex: 3 1 300px;
  flex-direction: column;
  background-color: white;
  border-left: 3px solid #f2d55e;
  border-right: 3px solid #f2d55e;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 8px 8px;
}

.prepare {
  max-width: 1080px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 30px;
  color: #2c90e8;
  flex: 3 1 300px;
  flex-direction: column;
  background-color: white;
  border-left: 3px solid #f2d55e;
  border-right: 3px solid #f2d55e;
  border-bottom: 3px solid #f2d55e;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 8px 8px;
}

a {
  color: #f2d55e;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
  text-shadow: rgba(0, 0, 0, 0.65) 0px 3px 8px;
  align-items: center;
}

@media (max-width: 1080px) {
  .info,
  .ingredients,
  .prepare {
    margin: 0 15px;
  }
}
